.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    border: 1px solid bisque;
    background-color: #242424;
  }
  .comment-textarea {
    width: 100%;
    height: 150px;
  }
  .openModalDiv {
    text-align: center;
    width: 100%;
  }
  .openModalDiv, .card:is(:hover, :focus){
    cursor: pointer;
  }
  .modal-root {
    z-index: 1000;
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .my-modal {
    display: block;
    width: 600px;
    background-color: #fff;
    color: #242424;
    padding: 0.5rem;
    border-radius: 0.356rem;
  }
  .modal-header {
    /* height: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #584E4E;
  }
  .modal-header button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    transform: scaleX(1.2);
    border: none;
    color: #6D6B6B;
  }
  .modal-header button:is(:hover, :active) {
    color:#242424;
    cursor: pointer;
  }
  .modal-footer {
    border-top: 1px solid #584E4E;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
  }
  .modal-submit-btn{
    padding: 0.5rem;
    letter-spacing: 3px;
    border-radius: 0.256rem;
    background-color: orangered;
    border: none;
  }
  .modal-submit-btn:is(:hover, :active){
    background-color: rgb(163, 46, 3);
    cursor: pointer;
  }
  .my-d-none {
    display: none !important;
  }
  .no-scroll{
      overflow: hidden !important;
  }